@model IEnumerable<AdministrationMng.Models.Opportunity>

@{
    ViewBag.Title = "OMethodFilter";
}
@using (Html.BeginForm("OMethodFilter", "Volunteer", FormMethod.Get))
{<p> </p>
    <p> </p>
    <h1><br />Manage Opportunities</h1>
    <p><h4>Welcome, Administrator</h4></p>
    <p>Here you can Filter Opportunities by Recent Opportunities and Centers Offering Opportunities.</p><br>

    <b>Filter by Recent Opportunities and Centers Opportunities:</b>
   

    <select class="form-control" id="Filter" name="Filter">
        <option selected>Select Filter</option>

        <option value="Recent">Most Recent(60 Days)</option> 
        <option value="Center">Center</option>
        <option value="All">All</option>
    </select>



    <p><br /><input type="submit" value="Apply Filter" /></p>
  
    <p> </p>
    <p> </p>

   

    <h2>Filtered Results</h2>
    @ViewBag.Message
  
    <head>
        <style>
            #pretty {
                margin: 1px;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

                td, #pretty th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                #pretty tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                #pretty tr:hover {
                    background-color: #ddd;
                }

                #pretty th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #e6f2ff;
                    color: black;
                    width: auto;
                }
        </style>

    </head>


    <table id="pretty">

        <tr>
            <th>
                Opportunity Name
            </th>
            <th>
                Center
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>


        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3"> Records not found </td>
            </tr>

        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Center)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "../Volunteer/EditOpportunity", new { Name = item.OName }) |
                        @Html.ActionLink("Details", "../Volunteer/DetailO", new { Name = item.OName })  |
                        @Html.ActionLink("Delete", "../Volunteer/DeleteOpportunity", new { Name = item.OName }) |
                        @Html.ActionLink("Match", "../Volunteer/DetailsMatchU", new { Name = item.OName })
                    </td>
                </tr>}
        }
    </table>
}


